@import "bootstrap";

.sortable th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.sortable th .asc {
  background-image: image_url('up_arrow.gif');
}

.sortable th .desc {
  background-image: image_url('down_arrow.gif');
}
